<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(Carts Page) Shopping Cart | Lashopda</title>
    <script src="../../../application/views/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../application/views/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../../application/views/assets/css/style.css" />
    <script>
        $(document).ready(function(){

            // $(document).on("submit", "form", function(){
                
            // });
        });
    </script>
</head>
<body>
    <header>
        <a href="products_page.html"><h2>Lashopda</h2></a>
        <a class="nav_end" href="cart_page.html"><h3>Shopping Cart (<span>4</span>)</h3></a>
    </header>
    <main>
        <div class="login_register_page">
            <h2>Order now in process!</h2>
        </div>
    </main>
</body>
</html>